h2 {
  text-align: left;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-bottom: 4em;
}

.bottom-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  padding-right: 50px;
  min-width: 300px;
}

.right {
  align-items: center;
}

.about-name {
  color: var(--primary);
}

.pfp {
  height: 250px;
  border-radius: 75px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: transform 0.2s ease-in-out;
}

.pfp:hover {
  transform: translateY(-10px);
}

.role {
  margin-top: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.desc {
  max-width: 600px;
}

.contact-info {
  margin-top: 2em;
  column-gap: 0.1em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 2em;
}

.head-span {
  margin-top: 20px;
  font-weight: bold;
  display: block;
  font-size: larger;
  color: var(--primary);
}

.subheading {
  font-weight: bolder;
}

.colour {
  color: var(--primary);
}

.education-section {
  border-radius: 8px;
}

.education-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.education-card {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
  padding: 30px;
  text-align: center;
  margin: 1em 0em;
  font-size: 1.05em;
}


.card:hover, .education-card:hover {
  transform: translateY(-10px);
}

.head-span {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin: 0;
}

.subheading {
  font-style: underline;
  margin-right: 3px;
}

.card p, .education-card p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .left {
    padding-right: 0;
    align-items: center;
  }

  .education-card {
    font-size: 0.85rem;
  }
}