.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: var(--fg);
  background-color: var(--bg);
}

.theme {
  --bg: #23283e;
  --bg-alt: #1f2548;
  --fg: #e0e0ef;
  --fg-alt: #cdcdff;
  --primary: #9eafef;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

main {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.section {
  margin-top: 2em;
}

.section-title {
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.center {
  display: flex;
  align-items: center;
}

.link {
  color: var(--primary);
  padding: 0 0 0.3em 0;
  position: relative;
}

.about-name {
  position: relative;
}

.link:hover {
  color: var(--primary);
}

.about-name::before,
.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  top: 100%;
  background-color: var(--primary);
  transition: width 0.2s ease-in;
}

.about-name:hover::before,
.link:hover::before,
.link:focus::before {
  width: 100%;
}


.link--nav {
  color: var(--fg);
  font-weight: bold;
}

.link--icon {
  color: var(--fg);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  color: var(--primary);
  border: 2px solid var(--primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn--outline:hover,
.btn--outline:focus {
  color: var(--bg);
}

.btn--outline:before {
  content: '';
  position: absolute;
  background-color: var(--primary);
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;
}

.btn--outline:hover:before,
.btn--outline:focus:before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  background-color: var(--bg-alt);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  color: var(--primary);
}

.btn--icon:active {
  transform: translateY(-5px);
}

svg {
  fill: var(--fg-alt);
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
  transition: fill 0.2s ease-in-out;
}

svg:hover {
  fill: var(--primary);
}

/*gradient style and keyframes*/
.gradient {
  width: 100%;
  background: linear-gradient(37deg, #000000, #2c093a, #3586c1);
  background-size: 180% 180%;
  /* animation: gradient-animation 5s ease infinite; */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  60% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .section {
    margin-top: 3em;
  }

  .gradient {
    background: linear-gradient(0deg, #000000, #10183e, #68163c);
    background-size: 180% 180%;
    animation: gradient-animation 2s ease infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 720px) {

  /* Disable all animations and fading for mobile */
  [data-aos="fade-left"],
  [data-aos="fade-right"],
  [data-aos="fade-up"],
  [data-aos="fade-down"] {
    opacity: 1 !important;
    /* Keep it fully visible */
    transform: none !important;
    /* No translation */
    transition: none !important;
    /* Disable transition */
  }
}

#projects, #education, #experience, #skills {
  scroll-margin-top: 120px;
}

@media (max-width: 600px) {
  #projects, #education, #experience, #skills {
    scroll-margin-top: 40px;
  }
}