.card {
    border-radius: 8px;
    padding: 40px;
    margin: 20px 0;
    background-color: rgba(205, 205, 255, 0.5); /* updated with opacity */
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
}

.card-header {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 16px;
    width: 100%;
    background: transparent;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.company {
    color: #201627;
    font-size: 1.5em;
    font-weight: bold;
}

.card-body {
    font-size: 1em;
    text-align: left;
    width: 100%;
    background: transparent;
}

.position {
    font-size: 1.2em;
    font-weight: bold;
    margin: 8px 0;
    color: #201627;
}

.dates-location {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dates {
    font-size: 1em;
    margin: 4px 0;
}

.location {
    font-size: 1em;
    margin: 4px 0;
}

.bottom-content {
    width: 95%;
    display: flex;
    justify-content: center;
}