.header {
    height: 8em;
    max-width: 1100px;
    padding: 0 1.5em;
    margin: auto;
    justify-content: space-between;
  }
  
  @media (max-width: 600px) {
    .header {
      height: 3.5em;
      padding-top: 2em;
    }
  }
  
  .nav-list {
    display: flex;
    column-gap: 1em;
  }
  .nav-list-item {
    margin-left: 1.5em;
  }
  
  .app .nav__hamburger {
    display: none;
  }
  
  .nav-theme {
    margin-top: 0.4em;
  }
  
  .top-svg{
    width: 1.5em;
    height: 1.5em;
  }

  .home{
    display: none;
  }
  @media (max-width: 600px) {
    .nav-list {
      display: none;
      flex-direction: column;
      row-gap: 0.5em;
      justify-content: center;
      align-items: center;
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      background-color: var(--bg);
      margin-right: 3em;
    }
  
    .nav-list-item {
      margin: 0.5em 0;
    }
  
    .app .nav-btn {
      display: flex;
      z-index: 3;
      margin-left: 0.8em;
    }
    .globe{
      display: none;
    }
  }
  @media (min-width: 600px) {
    .nav-btn {
      display: none !important;
    }
  }