.projects-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-gap: 2em;
}

#projects.section {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.project {
  padding: 3em 2em 1.5em 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project-description {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em 0;
}

.project-tools li {
  margin: 0.5em;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--fg-alt);
}

.project-image {
  width: 100%;
  border-radius: 9px;
  margin: 10px 0;
}

.icon-link {
  transition: color 0.2s ease;
}

.icon-link:hover {
  color: var(--primary);
}

.project-header {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}

/* center the last item if it's alone in the last row */

@media (min-width: 1100px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
    /* 4 equal columns on desktop */
  }

  /* Center the last 3, 2, or 1 items in the last row */
  .projects-grid>.project:nth-last-child(-n+3) {
    grid-column: span 1;
    justify-self: center;
  }
}

@media (min-width: 875px) and (max-width: 1099px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal columns */
  }

  .projects-grid>.project:nth-last-child(-n+2) {
    grid-column: span 1;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .project {
    padding: 1.4em 1.3em;
  }

  .project-image{
    width: 95%;
  }

  #projects {
    margin: 1em 1.25em;
  }
}