.skills-list {
  max-width: 450px;
  width: 95%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  align-content: flex-start;
}

.skills-list li {
  margin: 0.5em;
  padding: 0.6em 1em;
  border-radius: 10px;
  transition: color 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.skills-list li:hover {
  color: var(--primary)
}

.skills-list li:hover svg {
  fill: var(--primary);
}


.skill {
  display: flex;
  align-items: center;
}

.skill p {
  margin: 5px;
  font-weight: 400;
  text-align: center;
  /* transition: color 0.2s ease-in-out; */
}

/* .skill p:hover{
  color: var(--primary)
} */

.skill-img {
  font-size: 2.15em;
}

.separator {
  display: flex;
  justify-content: center;
}

.skill-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.skill-type {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .separator {
    flex-direction: column;
    row-gap: 2em;
  }

  .skills-list li {
    padding: 0.5em 1em;
  }
}